.badge-container {
  position: relative;
  width: max-content;
  box-sizing: border-box;
}

.badge-status {
  position: absolute;
  bottom: 14%;
  right: 12%;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 2px solid white;
  background-color: var(--success-color);
}
.badge-status-online {
  background-color: var(--success-color);
}
.badge-status-dnd {
  background-color: var(--danger-color);
}
.badge-status-idle {
  background-color: var(--warning-color);
}
.badge-status-offline {
  border: 2px solid white;
  background-color: var(--default-hover);
}

.badge-icon {
  min-width: 22px;
  min-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 50%;
  padding: 2px;
  position: absolute;
  top: -1rem;
  right: -0.5rem;
  color: #ffffff;
  background-color: var(--primary-color);
}
.badge-icon-green {
  background-color: var(--success-color);
}
.badge-icon-yellow {
  background-color: var(--warning-color);
}
.badge-icon-red {
  background-color: var(--danger-color);
}
