* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}

hr {
  border: 1px solid #d9d9d9;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar,
.main-section::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body,
.main-section,
.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.grid-container {
  position: relative;
  width: 100%;
  height: 90vh;
  margin: auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  /* border: 1px solid black; */
}

.grid-item {
  /* border: 1px solid black; */
}
.sidebar {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main-section {
  padding: 1rem;
  overflow-y: scroll;
}

.btn {
  padding: 1.5rem 2.5rem;
  border: 1px solid white;
  background-color: #000;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}
.btn:active {
  border: 1px solid black;
  color: #000;
  background-color: white;
}
/* Sidebar */
.list-topic {
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #d9d9d9;
  color: var(--grey-color-dark);
}
.list-subtopic li {
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  padding: 0.5rem 3rem;
}

.list-topic a,
.list-subtopic li a {
  color: var(--grey-color-dark);
}
.list-subtopic li a:hover {
  font-weight: 600;
}
.list-subtopic .active {
  font-weight: 600;
  background: rgb(248, 248, 248);
}

/* Main Section */

.content-title-lg {
  font-size: 2rem;
  padding: 1rem;
  color: var(--grey-color-dark);
}
.content-definition-lg {
  font-size: 1.6rem;
  margin: 1rem 0;
  padding: 0 1rem;
  color: var(--grey-color-medium);
}
.content-title-md {
  font-size: 1.6rem;
  padding: 0.6rem 1rem;
  color: var(--grey-color-dark);
}
.content-definition-md {
  font-size: 1.3rem;
  margin: 0 0 0.6rem;
  padding: 0 1rem;
  color: var(--grey-color-medium);
}
.content-definition p {
  display: block;
  font-size: 1.2rem;
  margin: inherit;
  color: inherit;
  color: var(--grey-color-medium);
}

.content-example-box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.content-example-box.no-wrap {
  flex-flow: row nowrap;
}
.content-example-box.column {
  flex-flow: column;
}
.content-example-box.text-left {
  align-items: flex-start;
}
.content-example-box.text-right {
  align-items: flex-end;
}
.content-example-box.text-normal {
  align-items: normal;
}
.content-example-box hr {
  width: 100%;
}
.content-example-box .nav-bar {
  width: 100%;
  position: relative;
}

.content-example-box .demo-modal {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  transform: translate(0, 0) scale(1);
  z-index: 0;
}
.content-example-box.grid-example {
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content-example-box.grid-example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-example-box.grid-example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.code-example-box {
  width: 100%;
  margin: 1rem auto;
}
.code-example-box img {
  width: 100%;
  margin: 1rem auto;
  height: 50vh;
  object-fit: contain;
}
.btn-custom {
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  margin: 1rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: pink;
  color: darkred;
}
.btn-custom:hover {
  background-color: rgb(255, 166, 181);
}
.btn-custom:active {
  border: none;
  color: white;
  box-shadow: none;
}

/* Colors Section */
.palette {
  display: flex;
  flex-wrap: wrap;
}

.palette > div {
  width: 120px;
  height: 120px;
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.palette-default {
  background-color: var(--default-color);
}

.palette .palette-primary {
  background-color: var(--primary-color);
  color: white;
}
.palette .palette-secondary {
  background-color: var(--secondary-color);
  color: black;
}
.palette .palette-danger {
  background-color: var(--danger-color);
  color: white;
}
.palette .palette-success {
  background-color: var(--success-color);
  color: white;
}
.palette .palette-warning {
  background-color: var(--warning-color);
  color: white;
}

/* Overiding Styles */
.burger-menu {
  transition: transform 0.3s ease-in;
}
.slider-container {
  width: 90%;
  max-width: 580px;
}
@media all and (max-width: 1020px) {
  .grid-container {
    grid-template-columns: 250px 1fr;
  }
}

@media all and (max-width: 786px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .sidebar {
    position: absolute;
    left: -100%;
  }
  .burger-menu.active {
    transform: rotate(90deg);
  }
  .sidebar.active {
    width: 100%;
    height: 90vh;
    background-color: white;
    left: 0;
    transition: left 0.4s ease-in;
    z-index: 99;
  }

  /* Font Sizes */
  .content-title-lg {
    font-size: 1.8rem;
    padding: 0.8rem;
    color: var(--grey-color-dark);
  }
  .content-definition-lg {
    font-size: 1.4rem;
    margin: 0.8rem 0;
    padding: 0 0.8rem;
  }
  .content-title-md {
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;
  }
  .content-definition-md {
    font-size: 1.1rem;
    margin: 0 0 0.8rem;
    padding: 0 0.8rem;
  }
  .content-definition p {
    display: block;
    font-size: 1rem;
    margin: inherit;
    color: inherit;
  }
}

@media all and (max-width: 540px) {
  .search-bar {
    margin: 0 1rem 0 0;
  }

  .nav-logo-title * {
    font-size: 1.2rem;
  }

  .nav-bar .list-inline-item .nav-icon-text {
    display: inline-block;
  }

  .nav-bar .nav-icon-btn .nav-icon i {
    display: block;
  }

  .nav-pill.nav-menu {
    box-shadow: none;
  }

  .nav-bar .nav-icon-btn {
    flex-flow: row wrap;
    font-weight: 600;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: block;
  }

  /* Font Sizes */
  .content-title-lg {
    font-size: 1.6rem;
    padding: 0.6rem;
    color: var(--grey-color-dark);
  }
  .content-definition-lg {
    font-size: 1.2rem;
    margin: 0.6rem 0;
    padding: 0 0.6rem;
  }
  .content-title-md {
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem;
  }
  .content-definition-md {
    font-size: 1.1rem;
    margin: 0 0 0.6rem;
    padding: 0 0.6rem;
  }
  .content-definition p {
    display: block;
    font-size: 0.8rem;
    margin: inherit;
    color: inherit;
  }
}

@media all and (max-width: 450px) {
  .list-topic {
    text-align: center;
  }
  .list-subtopic li {
    text-align: center;
  }
}
